<ul class="list-group">
  <li class="list-group-item" *ngFor="let geo of geometries">
    <div class="row">
      <p class="col">Name: {{ geo.name }}</p>
      <div class="form-group col">
        <select class="form-control" [(ngModel)]="geo.color">
          <option label="Blue" value="blue"></option>
          <option label="Red" value="red"></option>
          <option label="Green" value="green"></option>
          <option label="Yellow" value="yellow"></option>
          <option label="Purple" value="purple"></option>
        </select>
      </div>
      <button
        (click)="deleteGeometry(geo.id)"
        type="button"
        class="btn btn-outline-danger"
      >
        <i class="bi bi-trash"></i>
      </button>
    </div>
    <div class="row">
      <div class="form-group col">
        <label>X-coordinate</label>
        <input
          class="form-control"
          type="number"
          [(ngModel)]="geo.position.x"
        />
      </div>
      <div class="form-group col">
        <label>Y-coordinate</label>
        <input
          class="form-control"
          type="number"
          [(ngModel)]="geo.position.y"
        />
      </div>
      <div class="form-group col">
        <label>Z-coordinate</label>
        <input
          class="form-control"
          type="number"
          [(ngModel)]="geo.position.z"
        />
      </div>
    </div>
  </li>
</ul>
