<div class="card" *ngIf="sceneService.isEditing">
  <div class="card-body">
    <div class="row">
      <h3>Editing Scene: {{ sceneService.editingScene.name }}</h3>
      <button
          (click)="updateScene()"
          type="button"
          class="btn btn-outline-primary"
        >
          <i class="bi bi-save"></i>
        </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <app-geometry-form></app-geometry-form>
    <app-geometry-list></app-geometry-list>
  </div>
  <div class="col">
    <div class="three-container">
      <app-three-container></app-three-container>
    </div>
  </div>
</div>