<div class="card">
  <div class="card-body">
    <form [formGroup]="geometryForm">
      <div class="form-row">
        <div class="form-group col">
          <label>Geometry</label>
          <select class="form-control" formControlName="name">
            <option label="Box" value="BoxGeometry"></option>
            <option label="Sphere" value="SphereGeometry"></option>
            <option label="Cylinder" value="CylinderGeometry"></option>
            <option label="Torus" value="TorusGeometry"></option>
          </select>
        </div>
        <div class="form-group col">
          <label>Color</label>
          <input type="color" class="form-control" formControlName="color" />
        </div>
      </div>
      <button class="btn btn-primary" (click)="addGeometry()">
        Add Geometry
      </button>
    </form>
  </div>
</div>
